/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #111, #000);
    color: #fff;
}

/* Estilos do cabeçalho */
header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("../img/1857.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    text-align: center;
}

.site-name {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    text-align: left;
}

.site-name span {
    display: inline-block;
    animation: colorTransition 2s infinite;
}

@keyframes colorTransition {
    0% { color: red; }
    50% { color: black; }
    100% { color: red; }
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}

/* Estilos dos produtos */
.product {
    text-align: center;
    margin: 20px;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
}

.product p {
    font-size: 18px;
    color: #fff;
}

a.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.action-buttons a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.action-buttons a.test-button {
    background-color: red;
}

.action-buttons a.cart-button {
    background-color: white;
    color: red;
}

.action-buttons a:hover {
    background-color: white;
    color: red;
}

/* Estilos do rodapé */
footer {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url("../img/new68.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    text-align: center;
    color: #fff;
}

footer p {
    font-size: 14px;
}

.social-media {
    list-style: none;
    padding: 0;
}

.social-media li {
    display: inline-block;
    margin-right: 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
}

/* Media queries */

/* Tablets e dispositivos com largura menor ou igual a 768px */
@media (max-width: 768px) {
    .site-name {
        margin-left: 0;
        text-align: left; /* Adicionado para alinhar à esquerda */
    }

    header {
        padding: 10px;
        text-align: left; /* Adicionado para alinhar à esquerda */
    }

    h1 {
        font-size: 36px;
    }

    .product {
        margin: 10px;
    }

    h2 {
        font-size: 20px;
    }

    .product p {
        font-size: 16px;
    }

    .action-buttons a {
        margin-right: 5px;
        padding: 8px 15px;
        font-size: 14px;
    }

    footer p {
        font-size: 12px;
    }

    .social-media img {
        width: 20px;
        height: 20px;
    }
}

/* Dispositivos com largura menor ou igual a 480px */
@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    .product {
        margin: 5px;
    }

    h2 {
        font-size: 18px;
    }

    .product p {
        font-size: 14px;
    }

    .action-buttons a {
        margin-right: 3px;
        padding: 5px 10px;
        font-size: 12px;
    }

    footer p {
        font-size: 10px;
    }

    .social-media img {
        width: 15px;
        height: 15px;
    }
}
